<ion-view view-title="Chats">
<ion-header-bar align-title="" class="bar-publisher">
  <center class="center-align"><h1 class="small" center>Relevantes</h1></center>

</ion-header-bar>
  <ion-content>
    <ion-list >
      <ion-item id="nota-{{nota.id}}" class="item-remove-animate item-avatar item-nota item-icon-right margin-b no-border" ng-repeat="nota in note.notes track by $index" type="item-text-wrap" >
      <a href="#/tab/chats/details/{{nota.id}}">
        
        <div class="content-note" ng-click="note.viewDetails(nota.id)">
        <div ng-class="nota.priorityColor" class="priority-bar"></div>
        <img ng-src="{{nota.avatar}}">
        <h2 class="title-note">{{nota.title}}</h2>
        <p>{{nota.message}}</p>   
      </div>
      </a>
      
      <i class="icon ion-close-round litle" ng-click="note.onRemoveNote(nota.id)"></i>
        

        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
